@import "tailwindcss";

.main-app{
  @apply  flex justify-center items-center bg-gray-800 text-gray-200 min-h-screen w-screen;
}

.calculator{
  @apply w-full max-w-min p-2 rounded-lg bg-gray-900;
}

.cursor{
  @apply absolute right-1 top-0 select-none;
  animation: cursor-pulse 500ms ease-in-out alternate infinite;
}

@keyframes cursor-pulse{
  from{
    opacity: 0.8;
  }to{
    opacity: 0.2;
  }
}

.shortcut-keys{
  @apply text-amber-500 py-1 px-2 rounded-sm font-bold border border-white/60 hover:translate-y-1 transition-all duration-150;

  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.618);
}

.shortcut-keys:hover{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.719);
}

input[ type="number" ]::-webkit-scrollbar-track {
  display: none;
}

#history-list::-webkit-scrollbar {
  width: 3px;
}

#history-list::-webkit-scrollbar-track {
  background: transparent;
}

#history-list::-webkit-scrollbar-thumb {
  background-color: rgba(30, 41, 57, 0); 
  border-radius: 2rem;
}

#history-list:hover::-webkit-scrollbar-thumb {
  background-color: rgb(30, 41, 57);
  border-radius: 2rem;
}